In [1]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression

from sklearn.model_selection import cross_val_score, KFold

# K-fold Cross Validation

In [2]:
data = pd.read_csv("data/real_estate.csv", delimiter = ";")
data = data.drop(["No", "latitude", "longitude"], axis=1)

In [3]:
data.head()

,transaction_date,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,house_price_of_unit_area
0,2012.917,32.0,84.87882,10,37.9
1,2012.917,19.5,306.59470,9,42.2
2,2013.583,13.3,561.98450,5,47.3
3,2013.500,13.3,561.98450,5,54.8
4,2012.833,5.0,390.56840,5,43.1

In [4]:
data.dtypes

transaction_date                       float64
house_age                              float64
distance_to_the_nearest_MRT_station    float64
number_of_convenience_stores             int64
house_price_of_unit_area               float64
dtype: object

In [5]:
# Missing values per column
data.isnull().sum()

transaction_date                       0
house_age                              0
distance_to_the_nearest_MRT_station    0
number_of_convenience_stores           0
house_price_of_unit_area               0
dtype: int64

In [6]:
# Missing values for your all dataset
data.isnull().sum().sum()

0

In [7]:
data.describe()

,transaction_date,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,house_price_of_unit_area
count,414.000000,414.000000,414.000000,414.000000,414.000000
mean,2013.148971,17.712560,1083.885689,4.094203,37.980193
std,0.281967,11.392485,1262.109595,2.945562,13.606488
min,2012.667000,0.000000,23.382840,0.000000,7.600000
25%,2012.917000,9.025000,289.324800,1.000000,27.700000
50%,2013.167000,16.100000,492.231300,4.000000,38.450000
75%,2013.417000,28.150000,1454.279000,6.000000,46.600000
max,2013.583000,43.800000,6488.021000,10.000000,117.500000

## Work on EDA 
-  most likely transaction_date should be droped or featured engineered

# Work on your model
## Journey building your model -- you have your model!

- Does my model generalize well?
    - You'll run K-cross validation to see how robust your model is
        - Performance over different splits train/test
        - Preventing/Discovering if you have overfitting issues with slices of your data

# K-cross validation
- K = 5
- Reproducible -- set a fixed random_seed
- shuffle - making sure your data is shuffled before creating the folds

In [8]:
num_folds = 5
random_seed = 42

kfold = KFold(
    n_splits=num_folds,
    shuffle=True,
    random_state=random_seed,
)

In [9]:
kfold

KFold(n_splits=5, random_state=42, shuffle=True)

In [10]:
# Target variable (house_price_of_unit_area) numerical / Float choose a model accordingly
lr = LinearRegression()

In [11]:
# Here we are not doing the train/test split but in a real-model scenario you should
# Splitting data
# X = features
# y = target variable
X = data.drop(["house_price_of_unit_area"], axis=1)
y = data["house_price_of_unit_area"]


# Train/test split
# should go here

In [37]:
#cross_val_score?

In [12]:
# Scoring: https://scikit-learn.org/stable/modules/model_evaluation.html
results = cross_val_score(
    estimator = lr, 
    X = X, # in other scenarios, X = train split
    y = y, 
    cv = kfold,
#    scoring="r2"
    scoring="neg_mean_squared_error" # MSE
)

In [60]:
#data.head()

In [13]:
len(results)

5

In [14]:
list(results)

[-56.11619009787396,
 -74.45258537879404,
 -74.11612889169152,
 -78.0223953768302,
 -135.29511323704259]

In [15]:
# average performance
round(np.mean(results),2)

-83.6

In [16]:
# std
round(np.std(results), 2)

26.95

In [17]:
data.head()

,transaction_date,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,house_price_of_unit_area
0,2012.917,32.0,84.87882,10,37.9
1,2012.917,19.5,306.59470,9,42.2
2,2013.583,13.3,561.98450,5,47.3
3,2013.500,13.3,561.98450,5,54.8
4,2012.833,5.0,390.56840,5,43.1

In [58]:
var_i = 1
for train_index, test_index in kfold.split(X):
    print("SPLIT: ", var_i)
    var_i+=1
    print("TRAIN:", train_index)
    print("TEST:", test_index)
    print("----")

SPLIT:  1
TRAIN: [  1   2   3   4   5   6   7   8  10  11  12  13  14  16  18  19  20  21
  23  26  27  28  29  32  34  35  36  37  38  40  41  43  44  45  47  48
  49  50  51  52  53  54  58  59  60  61  62  63  64  65  66  67  68  69
  71  74  75  80  81  83  85  86  87  88  89  91  92  95  96  97  98  99
 100 101 102 103 105 106 107 108 109 111 112 113 114 115 117 119 120 121
 122 123 125 127 128 129 130 132 133 134 135 136 138 139 142 143 144 145
 146 147 148 149 150 151 153 154 156 158 159 160 161 162 163 164 166 167
 168 169 170 171 172 174 176 177 178 179 181 182 183 185 186 187 188 189
 190 191 192 193 194 195 196 197 198 199 200 201 202 204 205 206 207 209
 210 211 212 213 214 215 216 217 218 219 220 221 223 224 226 227 228 229
 230 232 233 234 235 236 237 239 240 241 242 243 244 245 246 247 248 249
 250 251 252 253 254 255 256 257 258 259 260 261 263 264 265 267 268 269
 270 273 276 277 278 279 280 281 282 284 285 287 288 289 292 293 294 295
 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 312 313 314
 315 316 318 319 321 322 323 324 325 326 327 328 329 330 331 332 333 334
 335 337 338 339 340 341 342 343 344 345 346 348 349 351 352 353 354 356
 357 359 362 363 366 367 368 370 371 372 375 377 378 379 380 381 382 383
 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 400 403 404
 406 407 408 410 411 412 413]
TEST: [  0   9  15  17  22  24  25  30  31  33  39  42  46  55  56  57  70  72
  73  76  77  78  79  82  84  90  93  94 104 110 116 118 124 126 131 137
 140 141 152 155 157 165 173 175 180 184 203 208 222 225 231 238 262 266
 271 272 274 275 283 286 290 291 311 317 320 336 347 350 355 358 360 361
 364 365 369 373 374 376 399 401 402 405 409]
----
SPLIT:  2
TRAIN: [  0   1   2   4   8   9  10  11  12  13  14  15  17  20  21  22  23  24
  25  26  27  28  30  31  32  33  34  35  37  38  39  40  41  42  43  44
  46  47  48  49  50  51  52  53  54  55  56  57  58  61  62  64  65  67
  68  69  70  71  72  73  76  77  78  79  80  81  82  84  85  86  87  88
  89  90  91  92  93  94  95  96  97  98  99 100 102 103 104 105 106 107
 110 112 115 116 117 118 120 121 122 123 124 125 126 127 128 129 130 131
 133 134 135 136 137 138 140 141 142 143 144 146 147 149 151 152 154 155
 156 157 159 160 161 162 163 164 165 166 167 169 170 171 173 174 175 178
 179 180 181 182 183 184 185 186 187 188 189 190 191 197 199 200 201 203
 204 205 206 207 208 210 212 213 214 215 216 217 218 220 221 222 223 224
 225 226 227 228 229 230 231 232 233 235 236 238 240 241 242 243 244 246
 249 251 252 253 254 255 256 257 258 259 260 262 263 264 266 267 269 270
 271 272 273 274 275 276 277 278 279 280 281 282 283 286 287 288 289 290
 291 292 293 294 295 298 300 301 302 303 306 308 309 310 311 312 313 314
 315 316 317 318 319 320 321 322 324 327 328 329 330 331 333 334 335 336
 337 339 340 342 343 344 345 347 348 349 350 351 353 354 355 356 357 358
 359 360 361 362 363 364 365 366 368 369 370 372 373 374 375 376 377 378
 379 380 381 384 385 388 389 392 393 394 395 397 398 399 401 402 403 404
 405 406 407 409 411 412 413]
TEST: [  3   5   6   7  16  18  19  29  36  45  59  60  63  66  74  75  83 101
 108 109 111 113 114 119 132 139 145 148 150 153 158 168 172 176 177 192
 193 194 195 196 198 202 209 211 219 234 237 239 245 247 248 250 261 265
 268 284 285 296 297 299 304 305 307 323 325 326 332 338 341 346 352 367
 371 382 383 386 387 390 391 396 400 408 410]
----
SPLIT:  3
TRAIN: [  0   1   3   4   5   6   7   8   9  12  13  14  15  16  17  18  19  20
  21  22  24  25  26  27  28  29  30  31  32  33  34  35  36  39  40  41
  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59
  60  61  62  63  64  65  66  70  71  72  73  74  75  76  77  78  79  80
  82  83  84  85  87  88  90  91  93  94  95  98  99 100 101 102 104 105
 106 107 108 109 110 111 113 114 115 116 118 119 120 121 124 126 127 128
 130 131 132 133 134 135 137 138 139 140 141 142 145 148 149 150 151 152
 153 155 156 157 158 159 160 161 162 165 166 168 169 170 171 172 173 174
 175 176 177 178 180 184 186 187 188 189 190 191 192 193 194 195 196 198
 200 201 202 203 205 206 207 208 209 211 212 213 214 215 216 217 219 221
 222 224 225 226 230 231 234 235 236 237 238 239 240 241 242 243 245 247
 248 250 251 252 253 254 256 257 259 260 261 262 263 264 265 266 267 268
 269 270 271 272 273 274 275 276 277 279 282 283 284 285 286 288 290 291
 292 293 295 296 297 299 300 302 303 304 305 306 307 308 309 310 311 312
 313 315 316 317 318 319 320 321 322 323 324 325 326 328 330 332 334 335
 336 338 339 341 342 343 344 345 346 347 348 350 351 352 353 355 357 358
 359 360 361 363 364 365 367 368 369 370 371 372 373 374 376 377 378 379
 380 382 383 385 386 387 390 391 393 395 396 397 399 400 401 402 403 404
 405 407 408 409 410 411 413]
TEST: [  2  10  11  23  37  38  67  68  69  81  86  89  92  96  97 103 112 117
 122 123 125 129 136 143 144 146 147 154 163 164 167 179 181 182 183 185
 197 199 204 210 218 220 223 227 228 229 232 233 244 246 249 255 258 278
 280 281 287 289 294 298 301 314 327 329 331 333 337 340 349 354 356 362
 366 375 381 384 388 389 392 394 398 406 412]
----
SPLIT:  4
TRAIN: [  0   1   2   3   5   6   7   9  10  11  13  15  16  17  18  19  20  21
  22  23  24  25  29  30  31  33  34  36  37  38  39  42  43  45  46  48
  49  50  52  53  54  55  56  57  58  59  60  63  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  86  87  88  89  90
  91  92  93  94  96  97  99 101 102 103 104 105 106 108 109 110 111 112
 113 114 116 117 118 119 121 122 123 124 125 126 129 130 131 132 134 136
 137 139 140 141 143 144 145 146 147 148 149 150 151 152 153 154 155 157
 158 160 161 163 164 165 166 167 168 169 172 173 174 175 176 177 179 180
 181 182 183 184 185 187 188 189 190 191 192 193 194 195 196 197 198 199
 201 202 203 204 205 208 209 210 211 212 214 217 218 219 220 222 223 225
 227 228 229 231 232 233 234 235 237 238 239 241 243 244 245 246 247 248
 249 250 251 252 255 257 258 259 261 262 263 264 265 266 268 269 270 271
 272 273 274 275 276 278 280 281 283 284 285 286 287 289 290 291 293 294
 295 296 297 298 299 301 303 304 305 306 307 308 309 311 313 314 315 317
 319 320 323 325 326 327 328 329 330 331 332 333 336 337 338 339 340 341
 343 344 345 346 347 348 349 350 352 354 355 356 358 359 360 361 362 363
 364 365 366 367 369 371 372 373 374 375 376 377 378 381 382 383 384 385
 386 387 388 389 390 391 392 394 396 397 398 399 400 401 402 404 405 406
 407 408 409 410 411 412 413]
TEST: [  4   8  12  14  26  27  28  32  35  40  41  44  47  51  61  62  64  65
  85  95  98 100 107 115 120 127 128 133 135 138 142 156 159 162 170 171
 178 186 200 206 207 213 215 216 221 224 226 230 236 240 242 253 254 256
 260 267 277 279 282 288 292 300 302 310 312 316 318 321 322 324 334 335
 342 351 353 357 368 370 379 380 393 395 403]
----
SPLIT:  5
TRAIN: [  0   2   3   4   5   6   7   8   9  10  11  12  14  15  16  17  18  19
  22  23  24  25  26  27  28  29  30  31  32  33  35  36  37  38  39  40
  41  42  44  45  46  47  51  55  56  57  59  60  61  62  63  64  65  66
  67  68  69  70  72  73  74  75  76  77  78  79  81  82  83  84  85  86
  89  90  92  93  94  95  96  97  98 100 101 103 104 107 108 109 110 111
 112 113 114 115 116 117 118 119 120 122 123 124 125 126 127 128 129 131
 132 133 135 136 137 138 139 140 141 142 143 144 145 146 147 148 150 152
 153 154 155 156 157 158 159 162 163 164 165 167 168 170 171 172 173 175
 176 177 178 179 180 181 182 183 184 185 186 192 193 194 195 196 197 198
 199 200 202 203 204 206 207 208 209 210 211 213 215 216 218 219 220 221
 222 223 224 225 226 227 228 229 230 231 232 233 234 236 237 238 239 240
 242 244 245 246 247 248 249 250 253 254 255 256 258 260 261 262 265 266
 267 268 271 272 274 275 277 278 279 280 281 282 283 284 285 286 287 288
 289 290 291 292 294 296 297 298 299 300 301 302 304 305 307 310 311 312
 314 316 317 318 320 321 322 323 324 325 326 327 329 331 332 333 334 335
 336 337 338 340 341 342 346 347 349 350 351 352 353 354 355 356 357 358
 360 361 362 364 365 366 367 368 369 370 371 373 374 375 376 379 380 381
 382 383 384 386 387 388 389 390 391 392 393 394 395 396 398 399 400 401
 402 403 405 406 408 409 410 412]
TEST: [  1  13  20  21  34  43  48  49  50  52  53  54  58  71  80  87  88  91
  99 102 105 106 121 130 134 149 151 160 161 166 169 174 187 188 189 190
 191 201 205 212 214 217 235 241 243 251 252 257 259 263 264 269 270 273
 276 293 295 303 306 308 309 313 315 319 328 330 339 343 344 345 348 359
 363 372 377 378 385 397 404 407 411 413]
----